<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <link href="/css/stylepage.css" rel='stylesheet' type="text/css" />
  <link href="/css/mediaquery.css" rel='stylesheet' type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0">
</head>
<body>
  <div class="introduction">
    <h1>#WENGEROUT</h1>
    <p class="comment">
        Burst the 'Wenger' balloons to show how much you want Wenger out of Arsenal!!
    </p>
    <h3>#Number of Games Played</h3>
    <p class="nusers">
    <strong><%= users %></strong>
  </p>
    <button class="startbutton">Start Game</button>
  </div>
  <div class="gamewindow">
    <div class="timer">
    </div>
    <div class="message_out">
      #Out
    </div>
    <div class="score">
      Score: 0
    </div>
  </div>
  <div class="final_page">
    <h3>Score</h3>
    <div class="final_score">
    </div>
    <h3>High Score</h3>
    <p class="highscore">

    </p>
    <div class="social_media">
      <a href="#" class="fa fa-twitter"></a>
    </div>
    <button class="restartgame">Restart</button>
  </div>
  <script>
  $(function(){
    var time = 0;
    var score = 0;
    var time_int = 500;
    var score_pos = 50;
    var anim_dur = 2.0;
    var timer = function(){
      $('.timer').html(time);
      time--;
      if(time == 0){
        gameover();
        return;
      }
      setTimeout(timer, 1000);
    }
    var game = function(){
      var position = 5+Math.floor(Math.random()*80);
      $('.gamewindow').append($('<div>').attr('class', 'balloon animate').css('left', position+'%').append($('<img src="/img/100_115.png"/>')));
      var id;
      if(time == 0){
        return;
      }
      setTimeout(game, time_int);
    }
    $('.startbutton').on('click',function(){
      $('.introduction').fadeOut(200, 'linear', function(){
        $('.gamewindow').fadeIn(200,'linear', startgame);
      });
    });
    var startgame = function(){
      time = 60;
      score = 0;
      setTimeout(timer(), 500);
      setTimeout(game(), 500);
    };
    $('.gamewindow').on('mouseover','.balloon',function(){
      $(this).css('display', 'none');
      score++;
      if(score>50 && time_int>400 && anim_dur > 1.5){
        time_int = time_int - 100;
        anim_dur = anim_dur - 0.5;
        $('.animate').css('animation-duration', anim_dur+'s');
      }
      $('.score').html('Score: '+ score);
      $('.message_out').css('display','block');
      $('.message_out').fadeOut(150,'linear');
      //setTimeout($('.message_out').css('display','none'), 500);
    });
    var gameover = function(){
      $('.gamewindow').fadeOut(200, 'linear', function(){
        $.ajax({
          type: 'POST',
          url: '/',
          data: {
            "userscore" : score,
          },
          dataType: 'json',
          success: function(data){
            $('.final_page').fadeIn(200,'linear', function(){
              $('.final_score').html(score);
              $('.highscore').html(data.highScore);
              $('.fa-twitter').attr('href', 'https://twitter.com/share?text=Score:%20'+score+'%20TheWengerOutGame;hashtags=wengerout" target="_blank')
            });
          }
        });
      });
    };
    $('.final_page').on('click','.restartgame', function(){
      window.location.href = '/';
    });
  });
  </script>
</body>
</html>
